.navbar {
  display: flex;
  justify-content: space-between;
  padding: 14px 24px;
  background-color: #1976d2;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.navbar a.active {
  text-decoration: underline;
}
